<template>
    <div class="drop-down">
        <div class="drop-down-display" :value="displayVal.value">{{displayVal.display}}</div>
        <button @click="toggle"><span v-html="chevronDown"></span></button>
        <div class="drop-down-content" v-show="show">
            <drop-down-row v-for="(elem, idx) in displayContents" :key="idx" :options="elem" @click.native="onContentClick(elem, idx)"></drop-down-row>
        </div>
    </div>
</template>

<script>
    import DropDownMixin from "./DropDownMixin.vue"
    export default {
        mixins: [DropDownMixin]
    }
</script>
