<script>
import octicons from "octicons"

export default {
    props: {
        "init-value":{type: Number, default: 0},
        "min-value":{type: Number, default: -100},
        "max-value":{type: Number, default: 100},
        "increment":{type: Number, default: 1},
    },
    watch:{
        value: function(newValue){
            this.$emit("spin-box-value", newValue)
        }
    },
    data: function(){
        return {
            value: parseFloat(this.initValue,10),
            chevronUp:octicons["chevron-up"].toSVG(),
            chevronDown: octicons["chevron-down"].toSVG(),
            check: octicons.check.toSVG()
        }
    },
    methods:{
        increase: function(){this.value += this.increment; return this.value},
        decrease: function(){this.value -= this.increment; return this.value},
        onInput: function(evt){
            var currentVal = parseFloat(evt.target.value)
            if (!(isNaN(currentVal))){
                this.value = currentVal
            }
        }
    }
}
</script>

<style scoped>
input {
    height: 2.5rem;
}
.spin-box {
    display: inline-block;
    position: relative;
    padding: 0;
    text-align: left;
}

.spin-box input {
    text-align: right;
    width: 80%;
    margin:0;
    border-top-right-radius: 0px ;
    border-bottom-right-radius: 0px;
    border-right-style:none;
    padding-left:0.4rem;
}

.with-accept.spin-box input {
    text-align: right;
    width: 70%;
    margin:0;
    border-top-right-radius: 0px ;
    border-bottom-right-radius: 0px;
    border-right-style:none;
    padding-left:0.4rem;
}

.spin-box button {
    position: absolute;
    margin:0;
    padding:0;
    height: 1.25rem;
    width: 20%;
}

.with-accept.spin-box button {
    width: 15%;
}

.with-accept.spin-box button.accept {
    height: 2.5rem;
    left: 85%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-style: none;
}
.with-accept.spin-box button.accept span{
    position: relative;
    bottom: 0px;
}

.spin-box button.up {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style:none;
}

.with-accept.spin-box button.up {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-style:none;
}

.spin-box button.down{
    top:1.25rem;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.with-accept.spin-box button.down{
    top:1.25rem;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.spin-box button span {
    position:relative;
    bottom: 6px;
}
</style>
